
.app-header {
    background-color: #355c7d;
    height: 70px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-header > h4 {
    text-align: left;
    color: #f8b195;
}

body {
    font-family: "Make It Sans IS24 Web", Verdana, "DejaVu Sans", Arial, Helvetica, sans-serif;
}
